@use "../util/functions" as util;
@use "../global/variables" as var;
@use "typography" as fonts;

.form {
    display: grid;

    background-color: var(--white);
    
    border-radius: 0.5rem;

    box-shadow: var(--shadow);

    padding: 1.5rem;

    margin: 0 0 3rem 0;

    &__success {
        color: var(--green);
        font-weight: fonts.$bold;

        text-align: center;

        display: none;
    }

    &__input {
        // Styling for entered text
        color: var(--dark-gray);
        font-weight: fonts.$semi-bold;
        font-size: fonts.$mobile-s;
        font-family: fonts.$font-fam;
        letter-spacing: fonts.$input-spacing;

        opacity: 1;

        // Input styling
        border-style: solid;
        border-color: var(--light-gray);
        border-width: util.rem(1);
        border-radius: 0.25rem;

        padding: 1rem;
        margin: 1rem 0 0 0;

        width: calc(100% - 2.1rem);

        caret-color: var(--blue);

        background-image: url('');
        background-repeat: no-repeat;
        background-position: 95% center;
    }

    &__input:nth-child(1) {
        margin: 0;
    }

    &__input::placeholder {
        color: var(--dark-gray);
        font-weight: fonts.$semi-bold;
        font-size: fonts.$mobile-s;
        font-family: fonts.$font-fam;
        letter-spacing: fonts.$input-spacing;

        opacity: 0.75;
    }

    &__error {
        justify-self: right;
        
        font-size: fonts.$mobile-xs;
        color: var(--orange);
        font-style: italic;
        font-weight: fonts.$medium;

        display: none;
    }

    &__button {
        background-color: var(--green);

        color: var(--white);
        font-size: fonts.$mobile-m;
        font-weight: fonts.$medium;
        font-family: fonts.$font-fam;

        border: none;
        border-radius: 0.5rem;

        box-shadow: var(--button-shadow);

        width: 100%;

        padding: 1rem;

        margin: 1rem 0 0 0;

        text-transform: uppercase;

        transition: background-color 50ms;
    }

    &__terms {
        font-size: fonts.$mobile-xs;
        text-align: center;
        color: var(--light-blue);
        font-weight: fonts.$medium;
        line-height: fonts.$line-s;

        margin: 1rem 1rem 0;

        &--orange {
            color: var(--orange);
            font-weight: fonts.$bold;
        }
    }
}