@use "../util/functions" as util;
@use "../global/variables" as var;
@use "typography" as fonts;

:root {
    font-size: fonts.$mobile-l;
    font-family: fonts.$font-fam;
    font-weight: fonts.$regular;
    line-height: fonts.$line-m;
}

body {
    margin: 0;
    background-color: var(--orange);
    background-image: url("../images/bg-intro-mobile.png");
}

main {
    display: grid;
    grid-template: repeat(3, max-content) / 1fr;

    margin: 0 1.5rem;
}